
    body {
        margin: 5px;
        padding: 10px;
        background-color: #FFD8A8; 
        font-family: Arial, sans-serif, serif;
      
    }

   
    .top-banner {
        background-color: black;
        color: white;
        padding: 20px 10px 20px 50px;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        border-bottom: 8px solid white;
      clear: both;
    }

    .top-right-img {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 180px;
        height: auto;
        border-radius: 8px;
    }

   
    .center-heading {
        text-align: center;
        margin-top: 140px;
        position: relative;
    }

    .center-img {
        width: 60%;
        opacity: 0.35; 
        border-radius: 50%;
    }

    .center-heading h1 {
        position: absolute;
        top: 250px;
        left: 460px;
        color: white;
      font-family: serif;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 2px 2px 4px black;
        margin: 0;
    }

   
    .nav-list {
        margin-left: 40px;
        margin-top: 40px;
        font-size: 20px;
        
    }

    .nav-list a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      font-style: italic;
    }

    .nav-list a:hover {
        color: #000;
        text-decoration: underline;
    }

  
   .section {
        margin: 60px;
        padding: 20px;
        background: lightgray;
        border-radius: 10px;
        box-shadow: 0 0 10px #aaa;
     line-height: 1.5;
        text-align: justified;
      
    }

  
    .footer-img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        margin-top: 150px;
    }

#about {
text-shadow: 1px 1px solid orange;
}
